@media (max-width: 1050px) {
    .services__blocks {
        gap: 2px;
    }
}



@media (max-width: 1024px) {
   .phones, .screen {
    background-size: contain;
    background-repeat: no-repeat;
   }
   .grid__brands {
    row-gap: 30px;
   }
}
@media (max-width: 1000px) {
    h1 {
        font-size: 76px;

    }
    .main-page__column {
        padding-top: 150px;
    }
    .main-page_image {
        width:600px;
        height: 450px;
        top: 10%;
    }
   
    h3 {
        font-size: 35px;
    }
    .aboutus__text {
        margin-bottom: 100px;
    }
    iframe {
        display: none;
    }
    .mobile {
        background-image: url(../image/mobile.png);
        background-size: 100% 100%;
    }
    .laptop {
    background-image: url(../image/planshet.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }  
    .phones, .screen {
        background-size: cover; 
        
        
        height: 290px;
    }
    .grid__brands {
        row-gap: 40px;
        column-gap: 30px;
       }
       h5 {
        font-size: 25px;
       }
       .description {
        font-size: 12px;
        margin-bottom: 40px;
       }
       .text {
        font-size: 14px;
       }
       h2 {
        font-size: 78px;
       }
       .question {
        font-size: 27px;
       }
       .form .container {
       
        padding-bottom: 90px;
    }
}
@media (max-width: 960px) {
    .services__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .block__ux {
    grid-column: 1 / span 2;
        max-width: 60%;
        margin: 0 auto;
}
    
} 
@media (max-width: 960px) {

.services__blocks {
    gap: 15px;
}
}
@media (max-width: 850px) {
    .main-page__column {
        padding-top: 120px;
        
    }
    .form__wraper {
        flex-direction: column;
    }
    .form__description {
        margin-bottom: 30px;
    }
    .contacts__form-input, .contact__input {
        width: 90%;
        border: none;  
        border-bottom: 1px solid;
    }
    textarea .contacts__form-input {
        width: 100%;
    }
    .contact__button {
        width: 50%;
        margin: 0 auto;
    }
    h1 {
        font-size: 66px;

    }
    .aboutus__text {
        font-size: 16px;
    }
    .services__text {
        font-size: 15px;
        text-align: center;
    }
    .services__text {
        font-size: 13px;
      }
      .phones, .screen {
        background-size: contain; 
       height: 290px;
   }
}
@media (max-width: 800px) {
    
    .contact__button {
        width: 30%;
        margin: 0 auto;
    }
    .main-page_image {
        opacity: 1;
        z-index: 0;
    }
   /* .main-page_image {
        display: none;
    }
    
    
    .main_bg {
        display: block;
        background-image: url(../image/ground.jpg);
        width: 631.06px;
height: 482.932px;
position: absolute;
right: 0;

    }*/
    h1 {
        font-size: 48px;
        margin-bottom: 140px;
    }
    .main-page__column {
        padding-top: 110px;
        
    }
    h3 {
        font-size: 30px;
    }
    
}
@media (max-width: 750px) {
    .services__blocks {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .block__ux {
       max-width: 100%;
    }
    .button-see {
        z-index: 2;
    }

}
@media (max-width: 700px) {
    .main-page_image {
        display: none;
    }
    
    
    .main_bg {
        display: block;
        background-image: url(../image/ground.jpg);
        width: 631.06px;
height: 482.92px;
background-size: 80% 80%;
position: absolute;
background-repeat: no-repeat;
right: -100px;
bottom: -16%;
z-index: 0;
    
}

}
@media (max-width: 650px) {

    .nav {
        display: none;
    }
   
   .button-contact {
    display: none;
   }
    .hidden-menu{
        display: block;
        
    }
    .grid__brands {
        /*grid-template-columns: 1fr;*/
        display: flex;
        flex-direction: column;
    }
        
.main-page__title {
    margin-bottom: 0px;
}
        
    
    h5 {
        text-align: center;
    }  
    h2 {
        font-size: 68px;
    }      
    .left p {
        text-align: center;
        margin: 0 auto;
    }
    .description {
        text-align: center;
    }
    .left h5 {
        text-align: center;
    }
    .text {
        text-align: center;
    }
    .mobile {
        
        width: 100%;
        height: 390px;
        background-repeat: no-repeat;
        
    }
    .laptop {
   height: 325px;
    width: 90%;
    background-repeat: no-repeat;
    }
    .phones {
        width: 90%;
        height: 325px;
        
    }
    .main_bg {
        display: none;
    }
    .main-page_image {
        display: block;
        height: 580px;
      background-size: contain;
      background-position: right;
    }
    .minutes {
        top: 22%;
        right: 59.5%;
    }
    .main-page__column {
        
        padding-top: 80px;
    }
    .main-page__column {
        height: 580px;

    }
    .button-see {
        margin-bottom: 240px;
    }
}
@media (max-width: 600px) {
    .main-page_image {
        right: -10%;
    }
}
@media (max-width: 550px) {
    .main-page_image {
        opacity: 0.6;;
        
    }
    .aboutus__text {
        font-size: 14px;
        
    }
    h3 {
        font-size: 27px;
    }
    h2 {
        font-size: 58px;
    }
    .contact__button {
        width: 50%;
    }
    .footer {
        height: 100px;
    }
    .symbol svg{
        display: inline-block;
        height: 45px;
        width: 42px;
    }
    .copyright {
        font-size: 14px;
    }
}
    @media (max-width: 550px) {
    .block__app, .block__web, .block__ux {
       width: 80%;
    }
    .services__blocks {
        
        align-items: center;
    }
}
@media (max-width: 485px) {
    .main-page_image {
        display: none;
    }
    .main_bg {
        display: block;
        background-size: 60%;
        bottom: 10%;
        left: 23%;
    }
    h1 {
        font-size: 36px;
    }
    .logo {
        width: 80px;
        height: 100px;
    }
    .button {
        font-size: 10px;
    }
    .aboutus {
        margin-top: -200px;
       
    }
    h3 {
        font-size: 20px;
        
    }
    .aboutus .container {
        padding-top: 70px;
    }
    .aboutus__text {
        padding: 0 20px;
    }
    .services__blocks {
        padding-top: 30px;
    }
    .question {
        font-size: 22px;
    }
    h2 {
        font-size: 48px;
    }
    .contacts__form-label {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 110%;
    }
    .active {
        font-size: 24px;
    }

}
@media (max-width: 400px) {
    .services__text {
        margin-bottom: 30px;
    }
    .services__title {
        font-size: 20px;
    }
    .main_bg {
        background-size: 50%;
        bottom: 3.5%;
        left: 30%;

    }
    .app, .web, .ux {
        background-size: 70%;
        background-position: center;
    }
    .web {

    }
}
